*.pyc
*.db
*~
.*

/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
.env/
MANIFEST
coverage.*
.vscode/
/.vscode/

!.gitignore
!.travis.yml
!.isort.cfg
*/migrations/*.py
sweet/settings.py
/media
/db_test.sqlite3
/db.sqlite3
